.japan-title{
    font-size: 300px;
    text-align:center;
    margin: auto;
}

body{
    background-image: url(../images/japan.png) cover;
    position: relative;
    width: 100%;
    min-height: 100vh;
}